extends layout

block content
	h3 Search for a Country
		input(type="text" placeholder="Search" class="searchBox")
		button(name="search" class="search") Search

	p#searchResults

	h1 Homepage
	p If you've visited a country, select the star beside it and watch the fucking magic happen.

	button(name="loadCountries" class="loadCountries") Load Countries

	ul#listOfCountries